[
  {
    "id": "srv1",
    "name": "Server 1",
    "description": "This is our main production server."
  },
  {
    "id": "srv2",
    "name": "Server 2",
    "description":
    "This is our secondary production server."
  },
  {
    "id": "dev1",
    "name": "Development Server 1",
    "description": "This is our internal development server."
  }
]
